body {
   background-image: url("back.jpg");
}
.details {
  max-width: 400px;
  margin:  auto;
  padding: 50px;
  background:#f0f5f4;
}
h2 {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  color: black;
}
form {
  margin: auto;
  max-width: 500px;
  color: steelblue;

}
input {
  padding: 10px;
  font-size: inherit;
}
input[type="text"] {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
  background: #e0ebe8;
}
input[type="Email"] {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
  background: #e0ebe8;
}
input[type="tel"] {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
  background: #e0ebe8;
}
input[type="date"] {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: 2px solid steelblue;
  background: #e0ebe8;
}
input[type="submit"] {
  width: 344px;
  height: 45px;
  border: none;
  background: steelblue;
  color: white;
}
input[type="submit"]:focus {
  width: 344px;
  height: 45px;
  border: solid steelblue;
  background: white;
  color: steelblue;
}
input:focus {
  background: white;
}
